{
  "root": true,
  "extends": [ "airbnb-base" ],
  "env": {
    "shared-node-browser": true,
    "node": true,
    "es2021": true,
    "mongo": true,
    "jquery": true
  },
  "parserOptions": {
    "ecmaVersion": "latest"
  },
  "rules": {
    "object-shorthand": "off",
    "arrow-parens": ["error", "as-needed", { "requireForBlockBody": true }],
    "default-case": "off",
    "one-var": "off",
    "class-methods-use-this": "off",
    "one-var-declaration-per-line": "off",
    "consistent-return": "off",
    "func-names": "off",
    "max-len": "off",
    "no-restricted-syntax": "off",
    "no-unused-expressions": "off",
    "no-console": "off",
    "no-shadow": ["error", { "hoist": "never" }],
    "no-param-reassign": "off",
    "no-prototype-builtins": "off",
    "no-new": "off",
    "newline-per-chained-call": "off",
    "no-lonely-if": "off",
    "no-new-object": "error",
    "no-plusplus": "off",
    "no-bitwise": "off",
    "object-curly-newline": ["error", { "multiline": true, "consistent": true }],
    "no-underscore-dangle": "off",
    "object-curly-spacing": "off",
    "prefer-destructuring": "off",
    "space-before-blocks": "off",
    "space-before-function-paren": ["error", "never"],
    "prefer-rest-params": "off",
    "no-undef": "off",
    "lines-between-class-members": "off",
    "camelcase": "off",
    "max-classes-per-file": "off",
    "spaced-comment": "off"
  }
}
