@import url('https://fonts.googleapis.com/css?family=Mountains+of+Christmas:wght@700|Lora');

.body {
  padding: 10px 0;
  font-family: 'Lora', serif;
  line-height: 1.7;
  min-height: 100%;
}

.base {
  background: rgb(52 56 62 / 65%);
  border-radius: 5px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
}
