.skill-roll {
  .flex-col{
    &.item-img {
      width: 20%;
      justify-content: center;
      margin-bottom: 6px;
      height: 50px;
    }
    &.name-col {
      align-content: center;
      align-items: center;
      width: 100%;
      justify-content: center;
      padding-right: 20%;
    }
  }

  h1, h2 {
    display: block;
    text-align: center;
    margin: 2.5px;
    padding: 0;
    line-height: 1;
    text-rendering: optimizelegibility;
  }

  h1 {
    text-transform: capitalize;
    font-size: 24.57px;
    color: #e5d280;
    font-family: "Lucida Bright", "Cambria", serif;
    text-size-adjust: 100%;
    font-weight: bold;
    border-bottom: none;
  }

  h2 {
    font-weight: 400;
    font-size: 20px;
    color: #f2f2f2;
    font-family: "Mountains of Christmas";
    border-bottom: none;
  }

  .success-description, .failure-description {
    border-radius: 6px;
    padding: 5px;
    color: rgb(255 255 255 / 89%);
    margin-bottom: 2px;
    border: 1px solid #bfaf6b3d;

    p { margin: 2px 0; }
  }

  .success-description { background: #cf74c330; }
  .failure-description { background: #44e1e126; }

  .success-banner, .failure-banner {
    padding: 3px 0;
    margin-bottom: 5px;
    color: #f2f2f2;
    font-family: "Lucida Bright", "Cambria", serif;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1.3px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 5px;
    border: 1px solid #bfaf6b3d;
  }

  .success-banner { background: #cf74c35c; }
  .failure-banner {
    background: #44e1e136;
    color: rgb(205 41 72 / 72%);
    &.hard { color: rgb(205 41 72 / 80%); }
    &.crit { color: rgb(205 41 72 / 93%); }
  }

  .roll-results {
    display: flex;
    justify-content: space-evenly;

    .roll-line {
      width: 40%;
      display: flex;
      justify-content: center;
      align-items: center;

      &.vs {
        width: 20%;
        font-family: "Lucida Bright", "Cambria", serif;
        font-size: 16px;
        line-height: 17px;
      }

      .roll-will, .roll-difficulty {
        padding: 0 4px;
        color: grey;
      }

      .roll-computed, .roll-success {
        font-weight: 700;
        color: #f2f2f2e8;
        font-size: 26px;
        line-height: 20px;
        margin-bottom: 8px;
        margin-top: 2px;
        font-family: Helvetica, Verdana, sans-serif;
      }
    }
  }
}

.chat-message {
  header.message-header {
    border-bottom: 2px groove #cf74c35c;
    border-radius: 3px;
    margin-bottom: 4px;
    margin-top: -1px;
  }
}
