.skill-roll {
  h1, h2 {
    display: block;
    text-align: center;
    margin: 2.5px;
    padding: 0;
    line-height: 1;
    text-rendering: optimizelegibility;
  }

  h1 {
    text-transform: capitalize;
    font-size: 24.57px;
    color: #e5d280;
    font-family: "Lucida Bright", "Cambria", serif;
    text-size-adjust: 100%;
    font-weight: bold;
    border-bottom: none;
  }

  h2 {
    font-weight: 400;
    font-size: 20px;
    color: #f2f2f2;
    font-family: "Mountains of Christmas";
    border-bottom: none;
  }

  .success-banner, .failure-banner {
    padding: 5px;
    margin-bottom: 5px;
    color: #f2f2f2;
    font-family: "Lucida Bright", "Cambria", serif;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1.638px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 3px;
  }

  .success-banner { background: #cf74c378; }
  .failure-banner {
    background: #44e1e136;
    color: rgb(205 41 72 / 72%);
    &.hard { color: rgb(205 41 72 / 80%); }
    &.crit { color: rgb(205 41 72 / 93%); }
  }

  .roll-results {
    display: flex;
    justify-content: space-evenly;

    .roll-line {
      width: 33%;
      display: flex;
      justify-content: center;

      .roll-will, .roll-difficulty {
        padding: 0 4px;
        color: grey;
      }

      .roll-computed, .roll-success {
        font-weight: bold;
        color: #e5d280;
        font-size: 20px;
      }
    }
  }
}
