.flex { display: flex !important; }
.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.even-spaced-col {
  display: flex !important;
  flex-direction: column;
  justify-content: space-evenly;
}

.justify-center {
  display: flex!important;
  justify-content: center;
}

.column {
  display: block;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 0.75rem;
  margin: 0 .25rem;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.align-center { align-items: center; }
.justify-center { justify-content: center; }
.justify-between { justify-content: space-between; }
.justify-evenly { justify-content: space-evenly; }
