#logo { display: none; }

// Remove the parchment background from foundry's windows
.character {
  >.window-content {
    background-image: url(https://github.com/Abourass/wondershade-classic/blob/main/dist/stars-964022_960_720.png?raw=true) !important;
    background-repeat: repeat !important;
  }
}

i {
  &.far, &.fas, &.fa { color: #df86dfd6; }
}

.window-app .window-content {
  background: rgba(65, 63, 63, 0.925);
  color: whitesmoke;
}

.main-controls {
  >li { background: rgb(10 3 3 / 85%) !important; }
}
