.ruffle-1 { border-radius: 10% 0 15% !important; }
.ruffle-2 { border-radius: 0 10% 15% !important; }

.skillHeading {
  margin: 2rem 0;
  font-size: 2em;
  letter-spacing: 5px;
  display: flex;
  align-items: center;
  width: 100%;
  color: #88738a;
  font-family: 'Mountains of Christmas';
  margin-bottom: .5rem;
  &:before, &:after {
    flex: 1;
    display: block;
    content: "";
    height: 0;
    margin: 1rem;
    border-bottom: 3px solid #88738a;
  }
}

.skillLabelCol {
  grid-column: 2;
  background: rgb(0 0 0 / 2%);
  position: relative;
  display: grid;
  align-items: center;
  grid-gap: 0.5rem;
  grid-template-columns: 1fr 3em;
  min-height: 36px;
  padding: 0;
  padding-left: .2rem;
}

.skillCol { padding: 0 0.1666666667rem; }

.skillDisplay {
  grid-template-columns: 2.5em 1fr;
  border: 1px solid #88738a;
  display: grid;
  align-items: stretch;
  margin-bottom: 0.5rem;
  border-radius: 0 10%;
  overflow: hidden;
}

.skillSection {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0.5rem;
  box-sizing: border-box;
  height: auto;
  max-height: 100%;
  width: 100%;
  padding: 0 0.25rem;
}

.skillButton {
  background: transparent;
  border: 0;
  padding: 0;
}

.skillInput {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  height: 36px;
  width: 100% !important;
  background: #33383e61;
  padding-top: 0;
}
