<form class="{{cssClass}}" autocomplete="off">
  <div class="body">
    {{!-- <div class="header">
      <h1 class="title neon" >Call of Wondershade </h1>
    </div> --}}
    <div class="base">
      <div class="flex-row">
        {{> "systems/wondershade/templates/partials/layout/backgroundInfo.hbs" }}
        {{> "systems/wondershade/templates/partials/layout/stats.hbs" }}
      </div>
      <div class="flex-row" style="padding-top: 0; padding-bottom: 0">
        {{> "systems/wondershade/templates/partials/layout/forces.hbs" }}
      </div>
      <div class="flex-row" style="padding-top: 0; padding-bottom: 5px">
        {{> "systems/wondershade/templates/partials/layout/difficultyInitAndRest.hbs" }}
      </div>
      <div class="flex-row">
        <div class="section column">
          {{> "systems/wondershade/templates/partials/layout/tabs.hbs" }}
          <div class="tabs">
            {{> "systems/wondershade/templates/partials/tabs/skills.hbs" }}
            {{!-- {{> "systems/wondershade/templates/partials/tabs/combat.hbs" }} --}}
            {{> "systems/wondershade/templates/partials/tabs/magick.hbs" }}
            {{> "systems/wondershade/templates/partials/tabs/inventory.hbs" }}
            {{> "systems/wondershade/templates/partials/tabs/journal.hbs" }}
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
