<div class="tab combat" data-tab="combat" data-group="primary-tabs">
  <h1 class="skillHeading">{{ localize "WonderSystem.Combat" }}</h1>
  <div class="weapons">
    {{#each weapons}}
    {{/each}}
  </div>
</div>
