<div class="tab items" data-tab="inventory" data-group="primary-tabs">
  <h1 class="skillHeading">{{ localize "WonderSystem.Inventory" }}</h1>
  {{> "systems/wondershade/templates/partials/layout/inventory/currencies.hbs"}}
  {{> "systems/wondershade/templates/partials/layout/inventory/weapons.hbs"}}
  {{> "systems/wondershade/templates/partials/layout/inventory/equipment.hbs"}}
  {{> "systems/wondershade/templates/partials/layout/inventory/consumables.hbs"}}
  {{> "systems/wondershade/templates/partials/layout/inventory/tools.hbs"}}
  {{> "systems/wondershade/templates/partials/layout/inventory/loot.hbs"}}
  {{> "systems/wondershade/templates/partials/layout/inventory/containers.hbs"}}
</div>
