<div class="journal">
  <h1 class="skillHeading">{{ localize "WonderSystem.Journal" }}</h1>
  <div class="flex-col flex">
    <h3 class="journalHeader">
      {{ localize "WonderSystem.Bonus" }}
      </h3>
      <fieldset></fieldset>
      <hr style="border-color: #887389;" />
      <div class="flex-col flex">
        <h3 class="journalHeader">
          {{ localize "WonderSystem.Notes" }}
          </h3>
          <fieldset></fieldset>
          </div>
        </h3>
      </div>
  </div>
</div>
