<div class="tab magick" data-tab="magick" data-group="primary-tabs">
  <h1 class="skillHeading"> {{ localize "WonderSystem.Magick" }} </h1>
  <div class="spells">
    {{#each spells}}
    {{/each}}
  </div>
</div>
