<div class="stat-blocks column">
  <div class="flex-row justify-evenly">
    {{#each data.stats.top}}
      <div class="stat-block">
        <label for="" class="label flex-col align-center clickable-label">
          <div class="flex-row align-center justify-center">
            <span>{{this.shortTxt}}</span>
            <button class="skillButton"></button>
          </div>
          <input type="text" class="input mini-number center-txt" value="{{`actorData.abilities.${this.shortTxt}.value`}}">
        </label>
      </div>
    {{/each}}
  </div>
  <div class="flex-row justify-evenly">
    {{#each data.stats.bottom}}
      <div class="stat-block">
        <label for="" class="label flex-col align-center clickable-label">
          <div class="flex-row align-center justify-center">
            <span>{{this.shortTxt}}</span>
            <button class="skillButton"></button>
          </div>
          <input type="text" class="input mini-number center-txt" value="{{actorData.abilities.${this.shortTxt}.value}}">
        </label>
      </div>
    {{/each}}
  </div>
</div>
