.neon {
  animation: neonGlow 2s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
@keyframes neonGlow {
  0% {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 0 0 20px rgba(255, 255, 255, 0.8), 0 0 22px rgba(255, 255, 255, 0.8), 0 0 40px rgba(66, 220, 219, 0.8), 0 0 60px rgba(66, 220, 219, 0.8), 0 0 80px rgba(66, 220, 219, 0.5), 0 0 100px rgba(66, 220, 219, 0.5), 0 0 140px rgba(66, 220, 219, 0.5), 0 0 200px rgba(66, 220, 219, 0.5);
  }
  100% {
    text-shadow: 0 0 2px rgba(255, 255, 255, 0.8), 0 0 8px rgba(255, 255, 255, 0.8), 0 0 10px rgba(255, 255, 255, 0.8), 0 0 20px rgba(66, 220, 219, 0.8), 0 0 30px rgba(66, 220, 219, 0.8), 0 0 40px rgba(66, 220, 219, 0.8), 0 0 50px rgba(66, 220, 219, 0.5), 0 0 80px rgba(66, 220, 219, 0.5);
  }
}
.neon-red {
  animation: neonRedGlow 2s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
@keyframes neonRedGlow {
  0% {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 0 0 20px rgba(255, 255, 255, 0.8), 0 0 22px rgba(255, 255, 255, 0.8), 0 0 40px rgba(206, 81, 102, 0.8), 0 0 60px rgba(206, 81, 102, 0.8), 0 0 80px rgba(206, 81, 102, 0.5), 0 0 100px rgba(206, 81, 102, 0.5), 0 0 140px rgba(206, 81, 102, 0.5), 0 0 200px rgba(206, 81, 102, 0.5);
  }
  100% {
    text-shadow: 0 0 2px rgba(255, 255, 255, 0.8), 0 0 8px rgba(255, 255, 255, 0.8), 0 0 10px rgba(255, 255, 255, 0.8), 0 0 20px rgba(206, 81, 102, 0.8), 0 0 30px rgba(206, 81, 102, 0.8), 0 0 40px rgba(206, 81, 102, 0.8), 0 0 50px rgba(206, 81, 102, 0.5), 0 0 80px rgba(206, 81, 102, 0.5);
  }
}
.neon-soft {
  animation: neonSoftGlow 2s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
@keyframes neonSoftGlow {
  0% {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 0 0 20px rgba(255, 255, 255, 0.8), 0 0 22px rgba(255, 255, 255, 0.8), 0 0 40px rgba(179, 116, 204, 0.8), 0 0 60px rgba(179, 116, 204, 0.8), 0 0 80px rgba(179, 116, 204, 0.5), 0 0 100px rgba(179, 116, 204, 0.5), 0 0 140px rgba(179, 116, 204, 0.5), 0 0 200px rgba(179, 116, 204, 0.5);
  }
  100% {
    box-shadow: 0 0 2px rgba(255, 255, 255, 0.8), 0 0 8px rgba(255, 255, 255, 0.8), 0 0 10px rgba(179, 116, 204, 0.9), 0 0 20px rgba(179, 116, 204, 0.8), 0 0 30px rgba(179, 116, 204, 0.8), 0 0 40px rgba(179, 116, 204, 0.8), 0 0 50px rgba(179, 116, 204, 0.5), 0 0 80px rgba(179, 116, 204, 0.5);
  }
}
@keyframes neonBgGlow {
  0% {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 0 0 20px rgba(255, 255, 255, 0.8), 0 0 22px rgba(255, 255, 255, 0.8), 0 0 40px rgba(179, 116, 204, 0.8), 0 0 60px rgba(179, 116, 204, 0.8), 0 0 80px rgba(179, 116, 204, 0.5), 0 0 100px rgba(179, 116, 204, 0.5), 0 0 140px rgba(179, 116, 204, 0.5), 0 0 200px rgba(179, 116, 204, 0.5);
    background: rgba(255, 255, 255, 0.8);
    border-color: rgba(255, 255, 255, 0.144);
  }
  100% {
    box-shadow: 0 0 2px rgba(255, 255, 255, 0.8), 0 0 8px rgba(255, 255, 255, 0.8), 0 0 10px rgba(179, 116, 204, 0.9), 0 0 20px rgba(179, 116, 204, 0.8), 0 0 30px rgba(179, 116, 204, 0.8), 0 0 40px rgba(179, 116, 204, 0.8), 0 0 50px rgba(179, 116, 204, 0.5), 0 0 80px rgba(179, 116, 204, 0.5);
    background: rgba(179, 116, 204, 0.5);
    border-color: rgba(179, 116, 204, 0.5);
  }
}
@keyframes neonSoftBgGlow {
  0% {
    box-shadow: 0 0 7px rgba(255, 255, 255, 0.8), 0 0 15px rgba(255, 255, 255, 0.8), 0 0 20px rgba(255, 255, 255, 0.8), 0 0 30px rgba(209, 247, 247, 0.8), 0 0 38px rgba(182, 230, 231, 0.8), 0 0 45px rgba(179, 222, 230, 0.5), 0 0 55px rgba(136, 184, 212, 0.5), 0 0 70px rgba(127, 175, 214, 0.5), 0 0 80px rgba(136, 198, 235, 0.5);
    background: rgba(255, 255, 255, 0.8);
    border-color: rgba(255, 255, 255, 0.144);
  }
  100% {
    box-shadow: 0 0 2px rgba(255, 255, 255, 0.8), 0 0 4px rgba(255, 255, 255, 0.8), 0 0 8px rgba(179, 116, 204, 0.9), 0 0 16px rgba(179, 116, 204, 0.8), 0 0 22px rgba(179, 116, 204, 0.8), 0 0 30px rgba(95, 195, 202, 0.8), 0 0 38px rgba(93, 211, 211, 0.5), 0 0 56px rgba(48, 218, 218, 0.5);
    background: rgba(116, 201, 204, 0.5);
    border-color: rgba(116, 201, 204, 0.5);
  }
}
@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/lora/v23/0QI6MX1D_JOuGQbT0gvTJPa787weuxJBkqg.ttf) format('truetype');
}
@font-face {
  font-family: 'Mountains of Christmas';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/mountainsofchristmas/v18/3y9w6a4zcCnn5X0FDyrKi2ZRUBIy8uxoUo7eDNGsNA.ttf) format('truetype');
}
.body {
  padding: 10px 0;
  font-family: 'Lora', serif;
  line-height: 1.7;
  min-height: 100%;
}
.flex {
  display: flex !important;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.even-spaced-col {
  display: flex !important;
  flex-direction: column;
  justify-content: space-evenly;
}
.justify-center {
  display: flex!important;
  justify-content: center;
}
.column {
  display: block;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 0.75rem;
  margin: 0 0.25rem;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.align-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.justify-evenly {
  justify-content: space-evenly;
}
.fit-size {
  max-width: fit-content;
}
.fit-width {
  width: -webkit-fill-available;
  width: -moz-available;
}
.min-input {
  max-width: 16rem;
}
.mini-number {
  font-size: xx-large;
  height: 2.8rem !important;
  width: 4.5rem !important;
}
.center-txt {
  text-align: center;
}
.full-height {
  height: 100% !important;
}
.pt0 {
  padding-top: 0 !important;
}
.pt1 {
  padding-top: 0.1rem;
}
.pt2 {
  padding-top: 0.2rem;
}
.pt3 {
  padding-top: 0.3rem;
}
.pr0 {
  padding-right: 0;
}
.mt0 {
  margin-top: 0;
}
.mt1 {
  margin-top: 0.1rem;
}
.mt2 {
  margin-top: 0.2rem;
}
.mt3 {
  margin-top: 0.3rem;
}
.mt4 {
  margin-top: 0.4rem;
}
.mt5 {
  margin-top: 0.5rem;
}
.mt10 {
  margin-top: 1rem;
}
.mb0 {
  margin-bottom: 0;
}
.font-2 {
  font-size: 2rem !important;
}
.label {
  color: #f5f5f5c2;
  padding-right: 0.2rem;
  font-size: 1.5rem;
  font-family: 'Lora', serif;
  font-weight: 400;
  margin-bottom: 0;
}
.clickable-label {
  cursor: pointer;
}
label {
  font-family: 'Lora', serif;
  font-weight: 400 !important;
  margin-bottom: 0 !important;
}
label strong {
  font-family: 'Mountains of Christmas';
  font-size: 1.8rem;
}
.input {
  background: #151617;
  color: #d6d2d2;
  font-size: 3rem;
  border-radius: 0.2rem;
  border-color: transparent;
  padding-left: 0.2rem;
  overflow: hidden;
  font-family: 'Mountains of Christmas', serif;
}
.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  display: none;
}
input.toggle-show:not(:checked) ~ div.hiddenSection {
  display: none;
}
input.toggle-show:checked .checkMinus {
  display: inline !important;
}
input.toggle-show:checked .checkPlus {
  display: none !important;
}
input.toggle-show:not(:checked) ~ .checkMinus {
  display: none !important;
}
.checkPlus {
  font-size: 2.4rem;
  font-family: 'Pictos';
  padding: 5px;
  background-color: #3AC5C9;
  line-height: 16px;
  border-radius: 4px;
  position: relative;
  left: 4px;
  top: -19px;
}
.checkMinus {
  font-size: 2.4rem;
  font-family: 'Pictos';
  padding: 4px;
  background-color: #887389;
  line-height: 16px;
  border-radius: 4px;
  position: relative;
  left: 4px;
  top: -19px;
}
.checkmark {
  display: flex;
  align-items: center;
  justify-content: center;
}
.checkmark input[type=checkbox] {
  position: absolute;
  left: -999999px;
  display: unset;
  width: unset;
  height: unset;
  padding: unset;
  margin-bottom: unset;
  font-family: unset;
  font-size: unset;
  font-weight: unset;
  line-height: unset;
  color: unset;
  border: unset;
  border-radius: unset;
  background: unset;
  background-color: unset;
  box-shadow: unset;
}
.checkmark input[type=checkbox] + span {
  background-color: unset;
  border: 1px solid #88738a;
  display: block;
  height: 1em;
  width: 1em;
  align-self: center;
  border-radius: 50%;
  word-break: break-word;
  cursor: pointer;
}
.checkmark input[type=checkbox]:checked + span {
  animation: neonBgGlow 3s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
  background-color: #873b8e;
  border: 1px solid #873b8e;
  height: 0.75em;
  width: 0.75em;
}
.checkmark input[type=checkbox]:checked + span.fairyFire {
  animation: neonSoftBgGlow 2s infinite alternate cubic-bezier(0, 1.67, 1, 1.63) !important;
}
.form {
  margin: 0;
  display: flex;
  align-items: center;
}
select {
  padding: 0 1em 0 0;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  border: none;
}
select.dark-drop {
  appearance: none;
  background-color: transparent;
  margin: 0;
  width: 100%;
  font-family: 'Mountains of Christmas';
  font-size: 2rem;
  cursor: pointer;
  line-height: 1;
  color: #d6d2d2;
  height: 3rem;
  text-align: center;
  z-index: 1;
  outline: none;
  display: grid;
  grid-template-areas: "select";
  align-items: center;
  position: relative;
  min-width: 15ch;
  max-width: 30ch;
  border: 1px solid transparent;
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
}
select.dark-drop::-ms-expand {
  display: none;
}
select.dark-drop::after {
  grid-area: select;
}
select.dark-drop:not(.select--multiple)::after {
  content: "";
  justify-self: end;
  width: 0.8em;
  height: 0.5em;
  background-color: whitesmoke;
  clip-path: polygon(100% 0%, 0 0%, 50% 100%);
}
option {
  white-space: normal;
  outline-color: #9b1394;
  background: #222428;
}
option:focus-within {
  background: #3AC5C9;
  color: #222428;
}
.mini-drop {
  height: 38px !important;
  border-radius: 0.2rem !important;
  margin-left: 0.9rem !important;
  margin-right: 0.1rem !important;
  width: -webkit-fill-available !important;
}
.center-drop option {
  padding: 0 !important;
  padding-left: 2px !important;
  text-align: left !important;
}
.slot-label {
  font-family: 'Lora', serif;
  color: #f5f5f5c2;
}
.window-app .window-content {
  background: none !important;
}
input[type=number] {
  -moz-appearance: textfield;
}
.stat-blocks {
  border-radius: 10px;
  background: #151617;
}
.removeSides {
  padding: 0px !important;
  margin: 2px !important;
}
.shaded-input {
  background: #222428c4 !important;
  text-align: center;
}
.check-label {
  cursor: pointer;
}
.smallCheck {
  height: 3rem !important;
  width: 3rem !important;
  padding-right: 0!important;
}
.smallDot {
  height: 7px!important;
  width: 7px!important;
}
.smallDot.tearShape {
  border-radius: 0px 50% 50% 50% !important;
  /* Angle at the top */
  transform: rotate(45deg);
}
.spellSlotRow {
  margin-bottom: 0.2rem;
  align-items: center;
  justify-content: center;
}
.spellSlotLabel {
  min-width: 12rem;
}
.smallCol {
  align-items: center;
  width: fit-content;
  justify-content: center;
}
.repcontrol {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 0.7rem;
  margin-top: 0.4rem;
}
.repcontrol .btn {
  background: #25272b;
  color: aqua;
  border: aqua;
  text-shadow: none;
  font-family: 'Mountains of Christmas';
  font-size: 1.5rem;
}
.repcontrol .btn:hover {
  background: #4a4848a6 !important;
  color: #d840cb !important;
}
.toggle-box {
  display: none !important;
}
.skillHeading {
  margin: 2rem 0;
  font-size: 2em;
  letter-spacing: 5px;
  display: flex;
  align-items: center;
  width: 100%;
  color: #88738a;
  font-family: 'Mountains of Christmas';
  margin-bottom: 0.5rem;
}
.lora {
  font-family: 'Lora' !important;
  font-size: 1.9rem !important;
}
.skillHeading:before,
.skillHeading:after {
  flex: 1;
  display: block;
  content: "";
  height: 0;
  margin: 1rem;
  border-bottom: 3px solid #88738a;
}
.negativeBottomMargin {
  margin-bottom: -1.5rem;
}
.skillCol {
  padding: 0 0.16666667rem;
}
.skillDisplay {
  grid-template-columns: 2.5em 1fr;
  border: 1px solid #88738a;
  display: grid;
  align-items: stretch;
  margin-bottom: 0.5rem;
  border-radius: 0 10%;
  overflow: hidden;
}
.ruffle-1 {
  border-radius: 10% 0 15% !important;
}
.ruffle-2 {
  border-radius: 0 10% 15% !important;
}
.skillLabelCol {
  grid-column: 2;
  background: rgba(0, 0, 0, 0.02);
  position: relative;
  display: grid;
  align-items: center;
  grid-gap: 0.5rem;
  grid-template-columns: 1fr 3em;
  min-height: 36px;
  padding: 0;
  padding-left: 0.2rem;
}
.displayTitle {
  font-size: 2.4rem;
  font-family: 'Mountains of Christmas';
  font-weight: 400;
  color: #e6e6e6;
  line-height: 3.2rem;
  margin-top: auto;
  margin-bottom: auto;
  padding-top: 0.4rem;
  margin-left: 0.2rem;
}
.header {
  margin-top: -1rem;
  margin-bottom: -0.2rem;
}
.title {
  font-family: 'Mountains of Christmas';
  font-weight: 400;
  text-align: center;
  font-size: 4.5em;
  color: #eeeef7;
  line-height: 1.5;
}
.doubleLabel {
  font-size: 2.3rem;
  font-family: 'Mountains of Christmas';
}
.base {
  background: rgba(52, 56, 62, 0.65);
  border-radius: 5px;
  padding: 20px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.section {
  background: #151617;
  padding: 5px 10px !important;
  border-radius: 10px;
}
.tabButton {
  background: transparent;
  font-size: 2.8rem;
  font-family: 'Mountains of Christmas';
  border: none;
  padding: 0.4rem 0.2rem;
  margin: 0.5rem;
}
.magickTabButton {
  background: transparent;
  font-size: 1.6rem;
  font-family: 'Lora', serif;
  border: none;
  padding: 0.4rem 0.2rem;
  margin: 0.5rem;
}
.skillSection {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0.5rem;
  box-sizing: border-box;
  height: auto;
  max-height: 100%;
  width: 100%;
  padding: 0 0.25rem;
}
.stat-block {
  display: flex;
  align-items: center;
  margin: 0 0.5rem;
  min-width: 4rem;
  width: 4rem;
}
.skillButton {
  background: transparent;
  border: 0;
  padding: 0;
}
.rollButton {
  background: transparent;
  border-radius: 0.5rem;
  color: aqua;
  font-size: 1.5em;
  border-color: transparent;
  display: none;
}
.charsheet {
  background-image: url(https://github.com/Abourass/wondershade-classic/blob/main/dist/stars-964022_960_720.png?raw=true);
  /*black space with tiny white stars*/
  background-color: black;
  background-repeat: repeat;
  color: white;
}
.skillInput {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  height: 36px;
  width: 100% !important;
  background: #33383e61;
  padding-top: 0;
}
.btn:hover {
  background: transparent !important;
  color: #d840cb !important;
}
.journal-border {
  border: 1px solid #7a717a38;
  border-radius: 55px;
  margin-top: 0.2rem;
  margin-bottom: 1rem;
}
.journal-entry {
  border: none;
  color: whitesmoke;
  font-family: 'Lora';
  font-size: 1.5rem;
  text-align: left;
}
